### problem statement:

##### import Required library

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

###### load the cvs files

In [2]:
# mumbai city csv file:
mumbai=pd.read_csv('mumbai.csv')

In [3]:
# pune city csv file:
pune=pd.read_csv('pune.csv')

In [4]:
# Banglore city csv file:
Banglore=pd.read_csv('Banglore.csv')

In [5]:
# Chennai city csv file:
Chennai=pd.read_csv('Chennai.csv')

In [6]:
# Delhi city csv file:
Delhi=pd.read_csv('Delhi.csv')

In [7]:
# gurgaoncity csv file:
gurgaon=pd.read_csv('gurgaon.csv')

In [8]:
# gurgaoncity csv file:
hyderabad=pd.read_csv('hyderabad.csv')

In [9]:
# kolkata city csv file:
kolkata=pd.read_csv('kolkata.csv')

In [10]:
### merge alll above city into one dataframe:
city=pd.concat([mumbai,pune,Banglore,Chennai,Delhi,gurgaon,hyderabad,kolkata],ignore_index=True)

In [11]:
city

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
0,Kasturi Developers\nBUILDER\n-,"20,000",1132,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",EV Castle,Unfurnished
1,Kasturi Developers\nBUILDER\n-,"20,000",1200,2,No Deposit,2 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Unfurnished
2,Kasturi Developers\nBUILDER\n-,"30,000",1700,3,No Deposit,3 bathrooms,NorthEast facing,"Ulwe, Mumbai",NaN,Semi-Furnished
3,Seller\nVERIFIED OWNER,"28,500",750,2,No Deposit,2 bathrooms,NaN,"Kandivali West, Mumbai",Atul Blue Arch,Unfurnished
4,Seller\nVERIFIED OWNER,"50,000",1400,3,No Deposit,3 bathrooms,East facing,"Chembur, Mumbai",Godrej Prime,Semi-Furnished
...,...,...,...,...,...,...,...,...,...,...
67311,Samim Baidya\nAGENT\n0,"35,000",1250,2,No Deposit,2 bathrooms,North facing,"Salt Lake City, Kolkata",NaN,Semi-Furnished
67312,Houseindia\nAGENT\n0,"10,000",1100,3,No Deposit,2 bathrooms,South facing,"Kalyani, Kolkata",NaN,Unfurnished
67313,TGE PROPERTIES\nAGENT\n0,"6,500",500,1,No Deposit,1 bathrooms,NaN,"Baghajatin, Kolkata",NaN,Unfurnished
67314,Vikas Kumar\nAGENT\n0,"44,000",2750,3,No Deposit,3 bathrooms,North facing,"Sector 22, Kolkata",NaN,Semi-Furnished
67315,Sagar Realty\nAGENT\n0,"30,000",1100,3,No Deposit,2 bathrooms,SouthEast facing,"Haltu, Kolkata",Reputed Builder Avishikta 2,Semi-Furnished

## Data Preprossing

In [12]:
## taking random sample from dataset:
city.sample(50)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
31280,Seller\nVERIFIED OWNER,"18,000",550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished
65493,TGE PROPERTIES\nAGENT\n0,"6,500",500,1,No Deposit,1 bathrooms,NaN,"Baghajatin, Kolkata",NaN,Unfurnished
2307,Maa Sharda Enterprises\nAGENT\n-,"75,500",1100,2,No Deposit,2 bathrooms,NorthWest facing,"Goregaon West, Mumbai",Kalpataru Radiance,Unfurnished
23244,Seller\nVERIFIED OWNER,"8,000",300,1,No Deposit,1 bathrooms,NaN,"Kasavanahalli, Bangalore",NaN,Furnished
30123,Seller\nVERIFIED OWNER,"25,000",850,2,No Deposit,2 bathrooms,East facing,"Kasavanahalli, Bangalore",NaN,Semi-Furnished
10690,Amresh Property Ghansoli\nBUILDER\n-,"12,500",500,1,"35,000 deposit",2 bathrooms,NaN,"Ghansoli, Mumbai",Amresh Property Ghansoli Navi Mumbai,Unfurnished
38657,Seller\nVERIFIED OWNER,"48,000",1020,3,No Deposit,3 bathrooms,South facing,"Model Town, Delhi",NaN,Furnished
41918,Seller\nVERIFIED OWNER,"20,000",810,2,No Deposit,2 bathrooms,NaN,"Sector 13 Rohini, Delhi",Reputed Builder GS Apartment,Unfurnished
60887,Investors Hub\nAGENT\n0,"95,000",3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished
31353,Seller\nVERIFIED OWNER,"13,000",2000,1,No Deposit,3 bathrooms,NaN,"Gottigere, Bangalore",NaN,Semi-Furnished
53113,Seller\nVERIFIED OWNER,"11,500",750,2,No Deposit,2 bathrooms,NaN,"Sector 102, Gurgaon",ROF Aalayas,Semi-Furnished
50397,Seller\nVERIFIED OWNER,"45,000",2100,3,No Deposit,3 bathrooms,NaN,"Sector 48, Gurgaon",Vipul World Plots,Furnished
54601,Seller\nVERIFIED OWNER,"14,000",900,3,No Deposit,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished
7723,Pioneer Reality And Investment\nAGENT\n-,"26,000",750,1,No Deposit,1 bathrooms,NaN,"Koper Khairane, Mumbai",Reputed Builder Nanak CHS,Semi-Furnished
26731,Seller\nVERIFIED OWNER,"14,000",450,1,No Deposit,1 bathrooms,NaN,"Munnekollal, Bangalore",NaN,Semi-Furnished
9538,Dreams Homes Real Estate\nAGENT\n-,"8,500",400,1,No Deposit,1 bathrooms,East facing,"Koper Khairane, Mumbai",NaN,Unfurnished
43135,Adarsh Associates\nAGENT\n-,"67,000",1000,2,No Deposit,2 bathrooms,NaN,"Sarvodaya Enclave, Delhi",NaN,Furnished
56084,Individual Agent\nAGENT\n-,"25,000",1350,2,No Deposit,2 bathrooms,NaN,"Nallagandla Gachibowli, Hyderabad",NaN,Semi-Furnished
62899,Seller\nVERIFIED OWNER,"80,000",3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished
64921,Seller\nVERIFIED OWNER,"10,000",780,2,No Deposit,1 bathrooms,NaN,"Garia, Kolkata",NaN,Unfurnished
65828,Reliable Realtors\nAGENT\n0,"8,500",801,2,No Deposit,2 bathrooms,NaN,"Sodepur, Kolkata",NaN,Unfurnished
21564,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
20204,NISHA SINGH\nAGENT\n0,51000,2500,5,No Deposit,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
15906,Vastupurti Real Estate\nAGENT\n0,30000,1300,3,No Deposit,3 bathrooms,East facing,"Vadgaon Budruk, Pune",Tirupati Welworth Bluescapes,Semi-Furnished
28252,Seller\nVERIFIED OWNER,"12,000",840,2,No Deposit,2 bathrooms,NaN,"Nelamangala, Bangalore",Tata New Haven,Semi-Furnished
64577,Seller\nVERIFIED OWNER,"12,500",800,2,No Deposit,2 bathrooms,South facing,"Garia, Kolkata",NaN,Semi-Furnished
18489,Happiness Realtors\nAGENT\n0,18000,950,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Majestique Manhattan Wing C,Semi-Furnished
54119,Seller\nVERIFIED OWNER,"30,000",850,1,No Deposit,1 bathrooms,NorthEast facing,"Sushant LOK I, Gurgaon",NaN,Furnished
44859,Seller\nVERIFIED OWNER,"11,000",750,3,No Deposit,1 bathrooms,NaN,"DLF Farms, Delhi",NaN,Semi-Furnished
36602,Seller\nVERIFIED OWNER,"39,000",1100,3,No Deposit,2 bathrooms,NaN,"Janakpuri, Delhi",NaN,Semi-Furnished
25739,Seller\nVERIFIED OWNER,"32,800",550,1,No Deposit,1 bathrooms,East facing,"Bellandur, Bangalore",NaN,Furnished
55542,Seller\nVERIFIED OWNER,"20,000",1800,3,No Deposit,3 bathrooms,NaN,"Uppal, Hyderabad",NaN,Furnished
2673,Devendra\nAGENT\n-,"63,000",987,2,No Deposit,2 bathrooms,NorthWest facing,"Powai, Mumbai",Nahar Laurel And Lilac,Semi-Furnished
2445,Golden Properties\nAGENT\n-,"36,000",1000,2,No Deposit,2 bathrooms,NaN,"Airoli, Mumbai",Vitha Govind,Furnished
27395,Seller\nVERIFIED OWNER,"6,500",350,1,No Deposit,1 bathrooms,NaN,"J. P. Nagar, Bangalore",NaN,Semi-Furnished
54392,Seller\nVERIFIED OWNER,"12,000",700,1,No Deposit,1 bathrooms,East facing,"Sector 46, Gurgaon",NaN,Unfurnished
55847,Investors Hub\nAGENT\n-,"95,000",3070,4,No Deposit,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished
34884,MAA KALKA PROPERTIES\nAGENT\n-,"45,000",900,2,No Deposit,2 bathrooms,NaN,"Lajpat Nagar II, Delhi",NaN,Furnished
12329,VSEstates\nAGENT\n-,"52,000",1175,2,2.5 L deposit,2 bathrooms,NaN,"Malad West, Mumbai",Abrol Vastu Park,Semi-Furnished
57858,Seller\nVERIFIED OWNER,"45,000",3000,4,No Deposit,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished
14871,Seller\nOWNER,2.75 L,2250,4,No Deposit,4 bathrooms,East facing,"Juhu, Mumbai",NaN,Semi-Furnished
48710,Seller\nVERIFIED OWNER,"16,000",1000,1,No Deposit,1 bathrooms,NaN,"Sector 14, Gurgaon",NaN,Furnished
4219,Dhirubhai Estates\nAGENT\n-,1.6 L,2000,3,No Deposit,3 bathrooms,North facing,"Juhu, Mumbai",NaN,Furnished
46991,Modern Spaces\nAGENT\n-,"85,000",2000,3,No Deposit,4 bathrooms,NaN,"Vasant Kunj, Delhi",DDA Flats Vasant Kunj,Unfurnished
61419,Seller\nVERIFIED OWNER,"80,000",3105,3,No Deposit,3 bathrooms,NaN,"Nanakramguda, Hyderabad",Trend Set Trendset Winz,Furnished
46100,Seller\nVERIFIED OWNER,"20,000",1300,3,No Deposit,2 bathrooms,NaN,"laxmi nagar, Delhi",NaN,Furnished
18153,KDH REALITY\nAGENT\n0,24000,1250,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Kolte Patil Ivy Apartment E V And VI,Semi-Furnished
27160,Seller\nVERIFIED OWNER,"18,000",550,1,No Deposit,1 bathrooms,East facing,"Krishnarajapura, Bangalore",NaN,Furnished
22469,Happiness Realtors\nAGENT\n0,18000,950,2,No Deposit,2 bathrooms,NaN,"Wagholi, Pune",Majestique Manhattan Wing C,Semi-Furnished
63652,Houseindia\nAGENT\n0,"10,000",1100,3,No Deposit,2 bathrooms,South facing,"Kalyani, Kolkata",NaN,Unfurnished

In [13]:
### In rent column data contain alphanumeric values like 1.5L,3.5L values we need to convert this into the numeric value

In [14]:
## conversion of rentcolumn into numeric type:
def convert_rent(rent):
    if "L" in rent:
        return int(float(rent.replace('L','').replace(',','').strip())*100000)                                           
    else:
        return int(float(rent.replace(',','').strip()))

In [15]:
city['Rent']=city['Rent'].apply(convert_rent)

In [16]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [17]:
## conversion of Deposit column into the numeric type:
def convert_deposit(deposit):
    if deposit == "No Deposit":
        return 0
    elif isinstance(deposit, str) and 'L' in deposit:
        # Split on 'L', take the first part, convert to float, and multiply by 100000
        return float(deposit.split('L')[0]) * 100000
    else:
        # Handle other cases as needed
        return deposit

city['Deposit'] = city['Deposit'].apply(convert_deposit)

In [18]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [19]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  object
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: int64(3), object(7)
memory usage: 5.1+ MB

In [20]:
city.sample(50)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Address,Apartment Name,Status
39328,R M Reality\nAGENT\n-,175000,2700,4,0,4 bathrooms,NaN,"Greater Kailash, Delhi",NaN,Semi-Furnished
29237,Seller\nVERIFIED OWNER,9500,1200,2,0,2 bathrooms,NorthEast facing,"Kithaganur Colony, Bangalore",NaN,Semi-Furnished
53956,Seller\nVERIFIED OWNER,16000,500,1,0,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished
21649,Happiness Realtors\nAGENT\n0,18000,950,2,0,2 bathrooms,NaN,"Wagholi, Pune",Majestique Manhattan Wing C,Semi-Furnished
56076,Seller\nVERIFIED OWNER,9000,600,3,0,1 bathrooms,NaN,"Attapur, Hyderabad",The Premia,Furnished
40319,Seller\nVERIFIED OWNER,11000,750,3,0,1 bathrooms,NaN,"DLF Farms, Delhi",NaN,Semi-Furnished
52478,Seller\nVERIFIED OWNER,10000,300,1,0,1 bathrooms,NaN,"Sector 9, Gurgaon",NaN,Furnished
40598,Seller\nVERIFIED OWNER,20000,810,2,0,2 bathrooms,NaN,"Sector 13 Rohini, Delhi",Reputed Builder GS Apartment,Unfurnished
32430,Signature Plus\nAGENT\n-,80000,3850,5,400000.0,6 bathrooms,NaN,"Muttukadu, Chennai",NaN,Semi-Furnished
48616,Seller\nVERIFIED OWNER,16000,500,1,0,1 bathrooms,NaN,"Sector 31, Gurgaon",NaN,Furnished
43271,Modern Spaces\nAGENT\n0,85000,2000,3,0,4 bathrooms,NaN,"Vasant Kunj, Delhi",DDA Flats Vasant Kunj,Unfurnished
4454,R S Property\nAGENT\n-,60000,1100,2,0,2 bathrooms,East facing,"Powai, Mumbai",Hiranandani Brentwood,Semi-Furnished
60167,Investors Hub\nAGENT\n0,95000,3070,4,0,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished
19204,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
32603,Seller\nVERIFIED OWNER,25000,1350,2,0,2 bathrooms,South facing,"Annanagar West, Chennai",NaN,Semi-Furnished
19091,Melange Consultancy\nAGENT\n0,48000,1300,2,0,2 bathrooms,NaN,"Hadapsar, Pune",Marvel Arco,Furnished
18807,MY HOMES GATEWAY\nAGENT\n0,36000,1560,3,0,3 bathrooms,East facing,"Wakad, Pune",Karan Madhupushpa,Semi-Furnished
38249,Gaurav Dahiya\nAGENT\n-,28000,1100,3,0,2 bathrooms,NaN,"Mansa Ram Park, Delhi",NaN,Semi-Furnished
10290,Seller\nOWNER,60000,625,2,0,2 bathrooms,NaN,"Vasind, Mumbai",Mumbai Royal Heritage,Furnished
1534,PropTalk\nAGENT\n-,180000,1500,3,0,3 bathrooms,NorthEast facing,"Bandra West, Mumbai",NaN,Furnished
58647,Investors Hub\nAGENT\n-,95000,3070,4,0,4 bathrooms,East facing,"Kondapur, Hyderabad",Aparna Luxor Park,Semi-Furnished
58400,Seller\nVERIFIED OWNER,18000,1200,2,0,2 bathrooms,NaN,"Malakpet, Hyderabad",NaN,Unfurnished
38613,Access India\nAGENT\n-,275000,3200,3,825000.0,4 bathrooms,NaN,"Sundar Nagar, Delhi",NaN,Semi-Furnished
62498,Seller\nVERIFIED OWNER,45000,3000,4,0,4 bathrooms,West facing,"Shamshabad, Hyderabad",NaN,Furnished
55801,Seller\nVERIFIED OWNER,30000,2400,4,0,4 bathrooms,NaN,"Nizampet, Hyderabad",NaN,Unfurnished
13878,Picasso Realty\nAGENT\n-,90000,1050,2,0,2 bathrooms,NaN,"Juhu Scheme, Mumbai",NaN,Semi-Furnished
35618,Seller\nVERIFIED OWNER,20000,810,2,0,2 bathrooms,NaN,"Sector 13 Rohini, Delhi",Reputed Builder GS Apartment,Unfurnished
46113,Access India\nAGENT\n-,275000,3200,3,825000.0,4 bathrooms,NaN,"Sundar Nagar, Delhi",NaN,Semi-Furnished
25987,Seller\nVERIFIED OWNER,15000,1100,2,0,2 bathrooms,NaN,"Koramangala, Bangalore",NaN,Semi-Furnished
4510,UK Reality\nAGENT\n-,48000,600,1,0,1 bathrooms,NaN,"Malad West, Mumbai",Liberty Bay Vue,Semi-Furnished
19764,NISHA SINGH\nAGENT\n0,51000,2500,5,0,5 bathrooms,West facing,"Tathawade, Pune",Pharande Puneville Phase I,Semi-Furnished
66130,BIYALA REALTY\nAGENT\n0,27000,1088,3,0,2 bathrooms,NaN,"Baguihati, Kolkata",MV Garden Enclave,Furnished
52701,Seller\nVERIFIED OWNER,14000,900,3,0,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished
43140,Seller\nVERIFIED OWNER,20000,1300,3,0,2 bathrooms,NaN,"laxmi nagar, Delhi",NaN,Furnished
28270,Seller\nVERIFIED OWNER,11000,1250,2,0,1 bathrooms,North facing,"Ramamurthy Nagar, Bangalore",NaN,Semi-Furnished
48363,Neon Properties\nAGENT\n-,65000,1500,2,0,2 bathrooms,NorthEast facing,"Neeti Bagh, Delhi",NaN,Semi-Furnished
67165,Silver Key Properties\nAGENT\n0,25000,999,2,0,2 bathrooms,East facing,"New Town, Kolkata",Elita Garden Vista Phase 2,Semi-Furnished
57325,Ishaan\nAGENT\n-,50000,2050,3,0,3 bathrooms,East facing,"Shaikpet, Hyderabad",NaN,Semi-Furnished
52981,Seller\nVERIFIED OWNER,14000,900,3,0,2 bathrooms,NorthEast facing,"Sector 105, Gurgaon",Deewan Rajendra Park Sector 105,Semi-Furnished
10039,Sahara Properties\nAGENT\n-,18000,700,1,0,2 bathrooms,South facing,"Mira Road East, Mumbai",R R Hill Galaxy Apartments,Unfurnished
33828,R M Reality\nAGENT\n0,175000,2700,4,0,4 bathrooms,NaN,"Greater Kailash, Delhi",NaN,Semi-Furnished
33599,Seller\nVERIFIED OWNER,25000,1072,2,0,2 bathrooms,East facing,"Pammal, Chennai",Appaswamy Brooksdale,Furnished
36104,MAA KALKA PROPERTIES\nAGENT\n-,45000,900,2,0,2 bathrooms,NaN,"Lajpat Nagar II, Delhi",NaN,Furnished
30861,Seller\nVERIFIED OWNER,65000,1650,3,0,3 bathrooms,NaN,"Sarjapur Road Post Railway Crossing,",Ahad Euphoria,Semi-Furnished
23406,Seller\nVERIFIED OWNER,13000,600,2,0,2 bathrooms,NaN,"BTM Layout, Bangalore",NaN,Semi-Furnished
14388,Prema Housing\nAGENT\n-,38000,1180,2,200000.0,2 bathrooms,NaN,"Borivali East, Mumbai",Kanakia Samarpan Exotica,Unfurnished
43970,Residence Hub\nAGENT\n0,45000,1500,3,0,3 bathrooms,NaN,"Freedom Fighters Enclave, Delhi",NaN,Furnished
53151,Seller\nVERIFIED OWNER,22000,700,1,0,1 bathrooms,NaN,"Sushant LOK I, Gurgaon",NaN,Furnished
17552,A Realities\nAGENT\n0,23000,1000,2,0,2 bathrooms,West facing,"Dhanori, Pune",Goel Ganga Ganga Newtown Ph 02,Semi-Furnished
34818,Seller\nVERIFIED OWNER,20000,810,2,0,2 bathrooms,NaN,"Sector 13 Rohini, Delhi",Reputed Builder GS Apartment,Unfurnished

In [21]:

## remove bathrooms from no_of bathroom:
def extract_first_number(x):
    if isinstance(x, str):
        # Split the string and convert the first part to float
        return float(x.split(' ')[0])
    elif isinstance(x, float):
        # If it's already a float, return it as is
        return x
    else:
        # Handle other cases (if any) or return NaN
        return float('nan')

city['Bathrooms'] = city['Bathrooms'].apply(extract_first_number)

In [22]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67316 entries, 0 to 67315
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   broker_consultancy  67315 non-null  object
 1   Rent                67316 non-null  int64
 2   Builtup Area        67316 non-null  int64
 3   appartment_type     67316 non-null  int64
 4   Deposit             67316 non-null  object
 5   Bathrooms           66972 non-null  float64
 6   Facing              23820 non-null  object
 7   Address             67316 non-null  object
 8   Apartment Name      27288 non-null  object
 9   Status              67316 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 5.1+ MB

In [23]:
### spliting the adaress into the locality and city

In [24]:
city['City']=city['Address'].str.split(',').apply(lambda x:x[1])

In [25]:
city['locality']=city['Address'].str.split(',').apply(lambda x:x[0])

In [26]:
city.drop(columns=['Address'],inplace=True)

In [28]:
city.isna().sum()

broker_consultancy        1
Rent                      0
Builtup Area              0
appartment_type           0
Deposit                   0
Bathrooms               344
Facing                43496
Apartment Name        40028
Status                    0
City                      0
locality                  0
dtype: int64

In [27]:
city.sample(15)

,broker_consultancy,Rent,Builtup Area,appartment_type,Deposit,Bathrooms,Facing,Apartment Name,Status,City,locality
37264,MAA KALKA PROPERTIES\nAGENT\n-,45000,900,2,0,2.0,NaN,NaN,Furnished,Delhi,Lajpat Nagar II
29983,Seller\nVERIFIED OWNER,25000,850,2,0,2.0,East facing,NaN,Semi-Furnished,Bangalore,Kasavanahalli
23288,Seller\nVERIFIED OWNER,9500,600,1,0,1.0,NaN,NaN,Semi-Furnished,Bangalore,Electronics City
43086,World Wide Infra\nAGENT\n0,90000,2800,4,0,4.0,NaN,DDA DDA Sector B Pocket 9,Semi-Furnished,Delhi,Vasant Kunj
9964,Siddhi Vinayak Enterprises\nAGENT\n-,13000,400,1,0,1.0,East facing,NaN,Unfurnished,Mumbai,Nerul
47450,Residence Hub\nAGENT\n-,45000,1500,3,0,3.0,NaN,NaN,Furnished,Delhi,Freedom Fighters Enclave
2189,Brahma Sai Realty\nAGENT\n-,75000,930,2,0,2.0,West facing,Ekta Tripolis,Semi-Furnished,Mumbai,Goregaon West
6523,Galaxy Realtors\nAGENT\n-,100000,1175,2,0,2.0,West facing,NaN,Furnished,Mumbai,Khar West
54698,Seller\nVERIFIED OWNER,45000,3000,4,0,4.0,West facing,NaN,Furnished,Hyderabad,Shamshabad
36686,World Wide Infra\nAGENT\n-,90000,2800,4,0,4.0,NaN,DDA DDA Sector B Pocket 9,Semi-Furnished,Delhi,Vasant Kunj
62792,Ravi\nAGENT\n0,24500,550,1,0,1.0,NaN,NaN,Furnished,Hyderabad,Kondapur
42401,Seller\nVERIFIED OWNER,35000,1200,3,0,2.0,NaN,NaN,Furnished,Delhi,Swasthya Vihar
3637,Vijay Estate Agency\nAGENT\n-,40000,850,2,0,2.0,NorthEast facing,Reputed Builder Neptune Living Point Phase II ...,Semi-Furnished,Mumbai,Bhandup West
3,Seller\nVERIFIED OWNER,28500,750,2,0,2.0,NaN,Atul Blue Arch,Unfurnished,Mumbai,Kandivali West
24406,Seller\nVERIFIED OWNER,13000,600,2,0,2.0,NaN,NaN,Semi-Furnished,Bangalore,BTM Layout

In [51]:
# Filter the DataFrame for rows where the city column is 'Mumbai'
mumbai_cities = city[city['city'] == 'Mumbai']

# Display the filtered DataFrame
print(mumbai_cities)

Empty DataFrame
Columns: [Rent, Builtup Area, appartment_type, Deposit, Bathrooms, Status, City, locality, city]
Index: []

In [29]:
### feature facing and Appartement name contains losts of na value thats why we are dropping this features from data set

In [30]:
city.drop(columns=['broker_consultancy','Facing','Apartment Name'],inplace=True)

In [31]:
### drop null values from the no of bathroom columns

In [32]:
city.dropna(subset=['Bathrooms'],inplace=True)

In [33]:
## check for na values

In [34]:
city.isna().sum()

Rent               0
Builtup Area       0
appartment_type    0
Deposit            0
Bathrooms          0
Status             0
City               0
locality           0
dtype: int64

In [35]:
### check for mathematical information about each numeric feature

In [36]:
city.describe()

               Rent  Builtup Area  appartment_type     Bathrooms
count  6.697200e+04  66972.000000     66972.000000  66972.000000
mean   4.353986e+04   1250.338858         2.235516      2.149376
std    5.832885e+04    833.393421         0.963631      0.980280
min    1.600000e+03    150.000000         1.000000      1.000000
25%    1.500000e+04    750.000000         1.000000      1.000000
50%    2.700000e+04   1060.000000         2.000000      2.000000
75%    4.800000e+04   1500.000000         3.000000      3.000000
max    1.800000e+06  10000.000000         9.000000      8.000000

In [37]:
city.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66972 entries, 0 to 67315
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rent             66972 non-null  int64
 1   Builtup Area     66972 non-null  int64
 2   appartment_type  66972 non-null  int64
 3   Deposit          66972 non-null  object
 4   Bathrooms        66972 non-null  float64
 5   Status           66972 non-null  object
 6   City             66972 non-null  object
 7   locality         66972 non-null  object
dtypes: float64(1), int64(3), object(4)
memory usage: 4.6+ MB

In [38]:
city['locality'].value_counts()

locality
Kondapur          3038
Janakpuri         1490
Vasant Kunj       1490
Thane West        1428
Nanakramguda      1302
                  ...
Eksar Rd             1
Sher e Punjab        1
7 Bunglow            1
Ashok nagar          1
Gokuldham Marg       1
Name: count, Length: 463, dtype: int64

In [39]:
city['locality'].value_counts()

locality
Kondapur          3038
Janakpuri         1490
Vasant Kunj       1490
Thane West        1428
Nanakramguda      1302
                  ...
Eksar Rd             1
Sher e Punjab        1
7 Bunglow            1
Ashok nagar          1
Gokuldham Marg       1
Name: count, Length: 463, dtype: int64

In [40]:
### converting Qulatative  data into Quantative Type

In [41]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [42]:
city['City']=encoder.fit_transform(city['City'])

In [43]:
city['Status']=encoder.fit_transform(city['Status'])

In [44]:
city['locality']=encoder.fit_transform(city['locality'])

In [45]:
city.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66972 entries, 0 to 67315
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rent             66972 non-null  int64
 1   Builtup Area     66972 non-null  int64
 2   appartment_type  66972 non-null  int64
 3   Deposit          66972 non-null  object
 4   Bathrooms        66972 non-null  float64
 5   Status           66972 non-null  int64
 6   City             66972 non-null  int64
 7   locality         66972 non-null  int64
dtypes: float64(1), int64(6), object(1)
memory usage: 4.6+ MB

In [46]:
city['City'].value_counts()

City
7    15630
3    14900
5     8680
1     8246
8     7220
4     5757
6     3960
2     2140
0      438
9        1
Name: count, dtype: int64

In [47]:
city.describe()

,Rent,Builtup Area,appartment_type,Bathrooms,Status,City,locality
count,6.697200e+04,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000,66972.000000
mean,4.353986e+04,1250.338858,2.235516,2.149376,0.900511,4.697381,231.037239
std,5.832885e+04,833.393421,0.963631,0.980280,0.654337,2.295351,117.617157
min,1.600000e+03,150.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,1.500000e+04,750.000000,1.000000,1.000000,0.000000,3.000000,138.000000
50%,2.700000e+04,1060.000000,2.000000,2.000000,1.000000,5.000000,223.000000
75%,4.800000e+04,1500.000000,3.000000,3.000000,1.000000,7.000000,316.000000
max,1.800000e+06,10000.000000,9.000000,8.000000,2.000000,9.000000,462.000000

In [48]:
city.corr()

ValueError: could not convert string to float: '60,000 deposit'

In [1]:
city['City'].value_counts()

NameError: name 'city' is not defined

In [ ]:
city['Status'].value_counts().plot(kind='bar')

In [ ]:
city.describe()

In [ ]:
city

In [ ]:
city.locality.value_counts()